/* ===== Main Content ===== */
.main-content {
    flex: 1;
    margin-left: 250px;
    padding: 30px;
    transition: margin-left 0.3s ease;
  }
  
  .sidebar.collapsed ~ .main-content {
    margin-left: 70px;
  }
  
  /* ===== Header ===== */
  .header {
    position: sticky;
    top: 0;
    left: 0;
    right: 0;
    z-index: 1;
    background: #002255;
    color: #fff;
    padding: 1rem 1.5rem;
    margin-bottom: 0.8rem;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .page-title {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 0;
    color: #fff;
  }
  
  .header input.form-control-sm,
  .header select.form-select-sm {
    min-width: 160px;
  }
  